.gradle/
build/
out/
bin/

/run/
/run_server/
/run_client/
/run_game_test/
*.log.gz
*.log
server_data/logs/*
*.lck

.idea/
*.iml
*.ipr
*.iws

.vscode/

.classpath
.project
.settings/
*.launch

*.DS_Store
Thumbs.db

local.properties
server_data/crash-reports/*